<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="Patrick"
          class="ru.kharina.study.bottom.Person">
        <constructor-arg index="0" value="Patrick"/>
        <constructor-arg index ="1" value="60"/>
    </bean>

    <bean id="SpongeBob"
          class="ru.kharina.study.bottom.Person">
        <constructor-arg index="0" value="SpongeBob"/>
        <constructor-arg index="1" value="40"/>
    </bean>

    <bean id="Squidward"
          class="ru.kharina.study.bottom.Person">
        <constructor-arg index="0" value="Squidward"/>
        <constructor-arg index="1" value="80"/>
    </bean>

</beans>